{% extends 'base.html' %} {% block head %}
<title>Post</title>
{% endblock %} {% block body %}

<div class="container">


    <div>
        <br>
        <h2 style="display:inline ;"> Our Posts </h2>
        <a href="/post/new" class="btn btn-primary" style="display: inline; float: right;">+new post</a>

    </div>
    <br>
    <hr> {% for post in posts %}

    <h3> Title: {{ post.title }}</h3>
    {% if post.author %}
    <small> Posted by: {{ post.author }} at {{post.date_pub}}</small> {% else %}
    <small> Posted by: Author Unknown at {{post.date_pub}} </small> {% endif %}

    <p>Content: {{ post.content }}</p>

    <a href="/post/edit/{{ post.id }}" class="btn btn-primary">Edit</a>
    <a href="/post/delete/{{post.id }}" class="btn btn-danger">Delete </a>
    <hr> {% endfor %}
</div>

{% endblock %}